<p style="color: green"><%= notice %></p>

<%= render @vic %>

<div>
  <%= link_to "Edit this vic", edit_vic_path(@vic) %> |
  <%= link_to "Back to vics", vics_path %>

  <%= button_to "Destroy this vic", @vic, method: :delete %>
</div>
