<h1>Editing Comic</h1>

<%= form_with model: @comics, url: comics_path(@comics), method: :patch, local: true do |f| %>

  <div class="edit-div">
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  <div>
  
    <%= f.submit %>
  </div>

<% end %>