
<div  class="comics">
<div class="comics-header-container">
  <h1 class="comics-header">Comics</h1>
  <%= link_to 'New Comic', comic_new_path %>
</div>

<table class="comics-table">
<% @comic.each do |comic| %>
  <tbody class="table-body">
    <tr class="table-row-content">
     <td>
        <div>
          <img class="comic-img" src="<%= image_path 'comic' %>"
        </div>
        <div class="table-row-div">
          <p>ID</p>
          <p class"table-body-id"><%= comic.id %>   </p>
        </div>
        <div class="table-row-div">
          <p>Name</p>
          <p><%= comic.name %> </p>
        </div>
        <div class="table-row-div">
          <p>Body</p>
          <p class="table-body-body"><%= comic.body %> </p>
        </div>
      </td>
    </tr>
    <tr class="table-row-btn">
      <td ><%= link_to "Show", comic_show_path(comic) %></td> 
    </tr>
    <% end %>
  </tbody>
  </table>

<div class="loader-container">
  <img class="comic-loader" src="<%= image_path 'loader' %>"
</div>

</div>