<h1>Comics</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th class="table-head-body">Body</th>
    </tr>

  </thead>

  <tbody>
    <% @comic.each do |comic| %>
    <tr>
      <td class"table-body-id"><%= comic.id %>   </td>
      <td><%= comic.name %> </td>
      <td class="table-body-body"><%= comic.body %> </td>
      <td><%= link_to "Edit", comic_edit_path(comic) %></td> 
    </tr>
    <% end %>
  </tbody>
  </table>


<%= link_to 'New Comic', comic_new_path %>